<section class="about">
  <h2 class="container section-title about__title">
    Состав капсул
    <span>ОмеВит</span>
    <div class="tooltip-wrapper">
      <div class="tooltip">
        <button class="tooltip__marker">
          <svg
            width="39"
            height="39"
            viewBox="0 0 39 39"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="19.5" cy="19.5" r="19.5" fill="#FFD500" />
            <path
              d="M19.4819 22.7732C19.4819 22.2888 19.2642 20.3579 20.868 19.1967C22.9174 17.6081 25.0245 16.863 25.0245 14.2779C25.0245 12.5187 23.7617 10.187 20.3984 10.014C17.5043 9.82107 14.7758 11.6471 14.8206 14.2779"
              stroke="#06167A"
              stroke-width="2.34"
            />
            <path
              d="M19.5001 29.4824C20.5339 29.4824 21.3721 28.6443 21.3721 27.6104C21.3721 26.5765 20.5339 25.7384 19.5001 25.7384C18.4662 25.7384 17.6281 26.5765 17.6281 27.6104C17.6281 28.6443 18.4662 29.4824 19.5001 29.4824Z"
              fill="#06167A"
            />
          </svg>
        </button>
      </div>
      <div class="tooltip__content">
        Одна упаковка Омевит содержит два вида капсул. Всего 60 штук на 1 месяц
        применения
      </div>
    </div>
  </h2>
  <img class="swipe" src="img/swipe.png" />
  <div class="about-top swiper" data-mobile="false">
    <div class="swiper-wrapper">
      <article class="about-top__card about-card swiper-slide">
        <span class="about-card__descr">
          <div data-aos="zoom-in">КАПСУЛА А</div>
          <span data-aos="zoom-in">500 МГ</span>
          <span data-aos="zoom-in">30 КАПСУЛ</span>
        </span>
        <div class="d-flex">
          <div id="information">
            <h3 class="about-card__title" data-aos="zoom-in">ОМЕГА-3</h3>
            <ul class="about-card__list">
              <li class="about-card__item">
                <span class="about-card__marker">
                  <svg
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_1_153)">
                      <path
                        d="M13.5023 0.519287C12.9181 5.29518 12.7234 8.32763 11.5781 10.289C9.70946 12.7187 6.47298 12.9505 0.519348 13.5023C6.37561 14.2117 9.54253 14.3647 11.4158 16.595C12.8161 18.5703 13.0526 21.6213 13.5023 26.4853C14.2674 20.1746 14.3833 16.9891 17.1515 15.1762C19.1175 14.2256 22.0526 14.017 26.4853 13.5023C20.9908 12.83 17.8053 12.6723 15.9042 10.9938C14.2999 9.08343 14.1283 5.90723 13.5023 0.519287Z"
                        fill="#F71CFF"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_1_153">
                        <rect width="27" height="27" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </span>
                <p class="about-card__text fade-up" data-aos="zoom-in">
                  Полиненасыщенные жирные&nbspкислоты
                </p>
              </li>
              <li class="about-card__item">
                <span class="about-card__marker">
                  <svg
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_1_153)">
                      <path
                        d="M13.5023 0.519287C12.9181 5.29518 12.7234 8.32763 11.5781 10.289C9.70946 12.7187 6.47298 12.9505 0.519348 13.5023C6.37561 14.2117 9.54253 14.3647 11.4158 16.595C12.8161 18.5703 13.0526 21.6213 13.5023 26.4853C14.2674 20.1746 14.3833 16.9891 17.1515 15.1762C19.1175 14.2256 22.0526 14.017 26.4853 13.5023C20.9908 12.83 17.8053 12.6723 15.9042 10.9938C14.2999 9.08343 14.1283 5.90723 13.5023 0.519287Z"
                        fill="#F71CFF"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_1_153">
                        <rect width="27" height="27" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </span>
                <p class="about-card__text" data-aos="zoom-in">
                  Докозагексаеновая кислота&nbsp<span>DHA</span>
                </p>
              </li>
              <li class="about-card__item">
                <span class="about-card__marker">
                  <svg
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_1_153)">
                      <path
                        d="M13.5023 0.519287C12.9181 5.29518 12.7234 8.32763 11.5781 10.289C9.70946 12.7187 6.47298 12.9505 0.519348 13.5023C6.37561 14.2117 9.54253 14.3647 11.4158 16.595C12.8161 18.5703 13.0526 21.6213 13.5023 26.4853C14.2674 20.1746 14.3833 16.9891 17.1515 15.1762C19.1175 14.2256 22.0526 14.017 26.4853 13.5023C20.9908 12.83 17.8053 12.6723 15.9042 10.9938C14.2999 9.08343 14.1283 5.90723 13.5023 0.519287Z"
                        fill="#F71CFF"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_1_153">
                        <rect width="27" height="27" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </span>
                <p class="about-card__text" data-aos="zoom-in">
                  Эйкозапентаеновая кислота&nbsp<span>EPA</span>
                </p>
              </li>
            </ul>
          </div>
          <div id="illustration">
            <svg
              width="95"
              height="107"
              viewBox="0 0 95 107"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_0_1)">
                <path
                  d="M68.788 10.2127C68.788 10.2127 72.913 6.16075 85.8855 2.6752C81.9045 -4.30876 57.2545 6.96135 54.295 6.64565C51.32 6.33625 6.7244 0.770227 0.735373 14.6891C-5.26895 28.6144 40.4745 36.1766 43.7995 36.9858C47.1245 37.795 44.2729 55.1435 61.88 54.8975C57.112 46.0547 56.448 44.4492 57.405 42.1734C57.405 42.1734 87.0555 57.0185 75.6805 66.2715C65.7285 73.6825 46.9739 79.0765 46.9739 79.0765C46.9739 79.0765 37.9045 82.561 31.4654 88.9845C39.0161 95.1185 33.3276 86.6905 33.3276 86.6905C33.3276 86.6905 27.3154 93.367 20.7966 106.395C30.0863 108.031 43.5763 87.572 54.2505 86.452C86.9565 84.8315 99.213 56.1085 93.0465 34.3608C86.859 12.6042 68.788 10.2127 68.788 10.2127Z"
                  fill="white"
                />
              </g>
              <rect
                x="15"
                y="10"
                width="11"
                height="11"
                rx="5.5"
                fill="black"
              />
              <defs>
                <clipPath id="clip0_0_1">
                  <rect width="95" height="106.5" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>

        <button class="about-card__btn js-btn-a" data-aos="zoom-in">
          Подробнее про состав
        </button>
      </article>
      <img class="press" src="img/press_for.svg" />
      <article class="about-top__card about-card swiper-slide">
        <span class="about-card__descr">
          <div data-aos="zoom-in">КАПСУЛА Б</div>
          <span data-aos="zoom-in">500 МГ</span>
          <span data-aos="zoom-in">30 КАПСУЛ</span>
        </span>
        <h3 class="about-card__title" data-aos="zoom-in">
          Витамины и минералы
        </h3>
        <ul class="about-card__list">
          <li class="about-card__item">
            <span class="about-card__marker">
              <svg
                width="27"
                height="27"
                viewBox="0 0 27 27"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_1_153)">
                  <path
                    d="M13.5023 0.519287C12.9181 5.29518 12.7234 8.32763 11.5781 10.289C9.70946 12.7187 6.47298 12.9505 0.519348 13.5023C6.37561 14.2117 9.54253 14.3647 11.4158 16.595C12.8161 18.5703 13.0526 21.6213 13.5023 26.4853C14.2674 20.1746 14.3833 16.9891 17.1515 15.1762C19.1175 14.2256 22.0526 14.017 26.4853 13.5023C20.9908 12.83 17.8053 12.6723 15.9042 10.9938C14.2999 9.08343 14.1283 5.90723 13.5023 0.519287Z"
                    fill="#F71CFF"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_153">
                    <rect width="27" height="27" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </span>
            <p class="about-card__text" data-aos="zoom-in">
              Экстракты черники и&nbspвиноградной косточки
            </p>
          </li>
          <li class="about-card__item" data-aos="zoom-in">
            <span class="about-card__marker">
              <svg
                width="27"
                height="27"
                viewBox="0 0 27 27"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_1_153)">
                  <path
                    d="M13.5023 0.519287C12.9181 5.29518 12.7234 8.32763 11.5781 10.289C9.70946 12.7187 6.47298 12.9505 0.519348 13.5023C6.37561 14.2117 9.54253 14.3647 11.4158 16.595C12.8161 18.5703 13.0526 21.6213 13.5023 26.4853C14.2674 20.1746 14.3833 16.9891 17.1515 15.1762C19.1175 14.2256 22.0526 14.017 26.4853 13.5023C20.9908 12.83 17.8053 12.6723 15.9042 10.9938C14.2999 9.08343 14.1283 5.90723 13.5023 0.519287Z"
                    fill="#F71CFF"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_153">
                    <rect width="27" height="27" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </span>
            <p class="about-card__text" data-aos="zoom-in">
              Цитрусовые биофлавоноиды
            </p>
          </li>
          <li class="about-card__item">
            <span class="about-card__marker">
              <svg
                width="27"
                height="27"
                viewBox="0 0 27 27"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_1_153)">
                  <path
                    d="M13.5023 0.519287C12.9181 5.29518 12.7234 8.32763 11.5781 10.289C9.70946 12.7187 6.47298 12.9505 0.519348 13.5023C6.37561 14.2117 9.54253 14.3647 11.4158 16.595C12.8161 18.5703 13.0526 21.6213 13.5023 26.4853C14.2674 20.1746 14.3833 16.9891 17.1515 15.1762C19.1175 14.2256 22.0526 14.017 26.4853 13.5023C20.9908 12.83 17.8053 12.6723 15.9042 10.9938C14.2999 9.08343 14.1283 5.90723 13.5023 0.519287Z"
                    fill="#F71CFF"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_153">
                    <rect width="27" height="27" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </span>
            <p class="about-card__text" data-aos="zoom-in">
              Лютеин
              <svg
                width="27"
                height="27"
                viewBox="0 0 27 27"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_1_153)">
                  <path
                    d="M13.5023 0.519287C12.9181 5.29518 12.7234 8.32763 11.5781 10.289C9.70946 12.7187 6.47298 12.9505 0.519348 13.5023C6.37561 14.2117 9.54253 14.3647 11.4158 16.595C12.8161 18.5703 13.0526 21.6213 13.5023 26.4853C14.2674 20.1746 14.3833 16.9891 17.1515 15.1762C19.1175 14.2256 22.0526 14.017 26.4853 13.5023C20.9908 12.83 17.8053 12.6723 15.9042 10.9938C14.2999 9.08343 14.1283 5.90723 13.5023 0.519287Z"
                    fill="#F71CFF"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_153">
                    <rect width="27" height="27" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              Витамины
            </p>
          </li>
        </ul>
        <button class="about-card__btn js-btn-b" data-aos="zoom-in">
          И ещё 5 ингредиентов
        </button>
      </article>
    </div>
    <img class="big-pill" src="img/_1.png" data-aos="zoom-in" />
  </div>
  <div class="about-bottom">
    <img class="bilberry right" src="img/bilberry.png" alt="bilberry" />
    <div class="about-bottom__left">
      <img src="./img/capsule_1.png" alt="Капсулы" data-aos="fade-right" />
      <img src="./img/capsule_2.png" alt="Капсулы" data-aos="fade-right" />
    </div>
    <div class="about-bottom__right bottom-content">
      <p
        class="bottom-content__title"
        style="animation: fade-bottom 1s ease-in"
      >
        ОмеВит -
      </p>
      <ul class="bottom-content__list">
        <li class="bottom-content__item">
          <svg
            width="27"
            height="27"
            viewBox="0 0 27 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1_153)">
              <path
                d="M13.5023 0.519287C12.9181 5.29518 12.7234 8.32763 11.5781 10.289C9.70946 12.7187 6.47298 12.9505 0.519348 13.5023C6.37561 14.2117 9.54253 14.3647 11.4158 16.595C12.8161 18.5703 13.0526 21.6213 13.5023 26.4853C14.2674 20.1746 14.3833 16.9891 17.1515 15.1762C19.1175 14.2256 22.0526 14.017 26.4853 13.5023C20.9908 12.83 17.8053 12.6723 15.9042 10.9938C14.2999 9.08343 14.1283 5.90723 13.5023 0.519287Z"
                fill="#F71CFF"
              />
            </g>
            <defs>
              <clipPath id="clip0_1_153">
                <rect width="27" height="27" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <p class="bottom-content__text" data-aos="zoom-in">
            Удачно подобранный комплекс витаминов, аминокислот и микроэлементов,
            оказывающих выраженное положительное влияние на здоровье человека
          </p>
        </li>
        <li class="bottom-content__item">
          <svg
            width="27"
            height="27"
            viewBox="0 0 27 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1_153)">
              <path
                d="M13.5023 0.519287C12.9181 5.29518 12.7234 8.32763 11.5781 10.289C9.70946 12.7187 6.47298 12.9505 0.519348 13.5023C6.37561 14.2117 9.54253 14.3647 11.4158 16.595C12.8161 18.5703 13.0526 21.6213 13.5023 26.4853C14.2674 20.1746 14.3833 16.9891 17.1515 15.1762C19.1175 14.2256 22.0526 14.017 26.4853 13.5023C20.9908 12.83 17.8053 12.6723 15.9042 10.9938C14.2999 9.08343 14.1283 5.90723 13.5023 0.519287Z"
                fill="#F71CFF"
              />
            </g>
            <defs>
              <clipPath id="clip0_1_153">
                <rect width="27" height="27" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <p class="bottom-content__text" data-aos="zoom-in">
            Помогает поддерживать нормальное функционирование организма,
            поддерживает здоровье глаз, укрепляет иммунитет
          </p>
        </li>
        <li class="bottom-content__item">
          <svg
            width="27"
            height="27"
            viewBox="0 0 27 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1_153)">
              <path
                d="M13.5023 0.519287C12.9181 5.29518 12.7234 8.32763 11.5781 10.289C9.70946 12.7187 6.47298 12.9505 0.519348 13.5023C6.37561 14.2117 9.54253 14.3647 11.4158 16.595C12.8161 18.5703 13.0526 21.6213 13.5023 26.4853C14.2674 20.1746 14.3833 16.9891 17.1515 15.1762C19.1175 14.2256 22.0526 14.017 26.4853 13.5023C20.9908 12.83 17.8053 12.6723 15.9042 10.9938C14.2999 9.08343 14.1283 5.90723 13.5023 0.519287Z"
                fill="#F71CFF"
              />
            </g>
            <defs>
              <clipPath id="clip0_1_153">
                <rect width="27" height="27" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <p class="bottom-content__text" data-aos="zoom-in">
            Является биологически активной добавкой
          </p>
        </li>
      </ul>
    </div>
    <img class="bilberry left" src="img/bilberry.png" />
  </div>
</section>
