<section class="contacts">
  <div class="container contacts__container">
    <div class="contacts-card" data-aos="zoom-in">
      <img class="rotate fruit grape" src="img/grape.webp" />
      <h3 class="contacts-card__title">
        Продлите молодость, здоровье и красоту
      </h3>
      <p class="contacts-card__subtitle">
        Окажите своему организму необходимую поддержку&nbspвместе с ОмеВит!
      </p>
      <img class="rotate fruit limon" src="img/limon.webp" alt="" />
      <button class="contacts-card__btn">Вперёд!</button>
      <img
        class="rotate fruit bilberry"
        src="img/billberry-small.webp"
        alt=""
      />
    </div>
  </div>
</section>
