<section class="feedback">
  <div class="container">
    <h2 class="section-title feedback__title" id="feedback" align="center">
      Отзывы <span>Омевит</span>:
    </h2>
    <ul class="feedback-list">
      <li class="feedback-item">
        <div class="feedback-item__text">
          <p class="feedback-item__comment">
            Отличный аналог дорогим Доппельгерц, Солгар черника и Стрикс, при
            чем не уступающий по качеству. Помимо самой черники в составе омега,
            витамины и цинк, который помогает организму оправиться после
            простудных заболеваний и защищает клетки. Первый раз принимала с
            осторожностью, так как на многие препараты у меня аллергия. Омевит
            подошел идеально.
          </p>
        </div>
        <div class="feedback-item__user">
          <img
            src="./img/1st-com.png"
            alt="Отзыв клиента"
            class="feedback-item__img"
          />
          <span class="feedback-item__name">Марина Кузнецова</span>
        </div>
      </li>
      <li class="feedback-item">
        <div class="feedback-item__text">
          <p class="feedback-item__comment">
            Часто бываю в командировках, из-за чего почти не соблюдаю режим сна
            и питаюсь неполноценно. Жена положила с собой таблетки Омевит.
            Честно принимал каждый день и не пропускал. Удобно тем, что утром
            выпил две капсулы и все. Омевит определенно помог. Круто, что два
            вида капсул - омега и группа витаминов. Стало больше сил,
            артериальное давление пришло в норму. В инструкции прочел, что
            хорошо влияет при проблемах со зрением, этим и подкупил.
          </p>
        </div>
        <div class="feedback-item__user">
          <img
            src="./img/2nd-com.png"
            alt="Отзыв клиента"
            class="feedback-item__img"
          />
          <span class="feedback-item__name">Игорь Федоров</span>
        </div>
      </li>
      <li class="feedback-item">
        <div class="feedback-item__text">
          <p class="feedback-item__comment">
            Долго искала для себя оптимальный продукт, содержащий Омега-3. Были
            частые кровотечения из носа, так как сосуды стали тонкими. А где-то
            стоит немного удариться, появлялись синяки. Нашла Омевит. Таблетки
            удивили тем, что содержат не только саму Омегу-3, но и другие
            витамины и минералы. Принимаю раз в полгода. Мне действительно
            помогает.
          </p>
        </div>
        <div class="feedback-item__user">
          <img
            src="./img/3rd-com.png"
            alt="Отзыв клиента"
            class="feedback-item__img"
          />
          <span class="feedback-item__name">Елена Смирнова</span>
        </div>
      </li>
      <li class="feedback-item">
        <div class="feedback-item__text">
          <p class="feedback-item__comment">
            В Омевите хорошо подобран комплекс микроэлементов. Принимаю его
            из-за большого количества липидов. Они замедляют процессы старения.
            Также нравится и удобный прием, капсулы промаркированы. Эффект
            заметен особенно при "гусиных лапках" у глаз и легких складок
            носогубного треугольника. Кожа стала более чистая. Омевит
            определенно нравится.
          </p>
        </div>
        <div class="feedback-item__user">
          <img
            src="./img/4th-com.png"
            alt="Отзыв клиента"
            class="feedback-item__img"
          />
          <span class="feedback-item__name">Жанна Князева</span>
        </div>
      </li>
      <li class="feedback-item">
        <div class="feedback-item__text">
          <p class="feedback-item__comment">
            Так сложилось, что большую часть суток провожу за компьютером. В
            последнее время стал ощущать значительную нагрузку на глаза -
            ощущение, будто песок, сухость. Да и зрение стало заметно
            ухудшаться. По рекомендации знакомого приобрел Омевит. Почитал
            инструкцию. В составе идут отличные компоненты, которые необходимы и
            для зрительного нерва, и для слизистой, и для роговицы. Принимал
            полный курс, ощущение сухости ушло. Теперь буду принимать постоянно,
            чтобы как можно дольше продлить здоровье глаз.
          </p>
        </div>
        <div class="feedback-item__user">
          <img
            src="./img/5th-com.png"
            alt="Отзыв клиента"
            class="feedback-item__img"
          />
          <span class="feedback-item__name">Денис Мельник</span>
        </div>
      </li>
      <li class="feedback-item">
        <div class="feedback-item__text">
          <p class="feedback-item__comment">
            Принимаю Омевит в качестве профилактики сердечно-сосудистых
            заболеваний, так как раньше всегда был повышен уровень холестерина.
            С помощью продукта удается держать показатели в норме. Нравится
            удобный прием — можно по 1 или по 2 капсулы в день. В составе
            большая концентрация омеги, а для женщин это необходимо, тк с
            питанием довольно сложно получить нужный объем рыбьего жира.
            Довольна результатом.
          </p>
        </div>
        <div class="feedback-item__user">
          <img
            src="./img/6th-com.png"
            alt="Отзыв клиента"
            class="feedback-item__img"
          />
          <span class="feedback-item__name">Ирина Ткаченко</span>
        </div>
      </li>
      <li class="feedback-item">
        <div class="feedback-item__text">
          <p class="feedback-item__comment">
            Принимаю Омевит уже во второй раз. Идеально подходит и при снижении
            зрения, и для повышенного уровня холестерина и как витаминный
            препарат для имунной системы. А в возрасте 50+ болячки дают о себе
            знать. Бюджетная цена за отличное качество.
          </p>
        </div>
        <div class="feedback-item__user">
          <img
            src="./img/7th-com.png"
            alt="Отзыв клиента"
            class="feedback-item__img"
          />
          <span class="feedback-item__name">Карина Белоусова</span>
        </div>
      </li>
    </ul>
  </div>
</section>
