<section class="hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero-left">
        <h2 class="hero-left__title">
          <span>Красота и молодость</span>
          <br> в&nbspдвух капсулах
        </h2>
        <div class="hero-left__mobile">
          <img src="./img/mobile/hero.png" alt="омевит">
          <img src="./img/mobile/hero2.png" class="mobile-dec rotate">
        </div>
        <ul class="hero-left__list">
          <li class="hero-left__item">
            <span class="icon">13</span>
            <div class="hero-left__content">
              полезных компонентов
            </div>
          </li>
          <li class="hero-left__item">
            <span class="icon">2</span>
            <div class="hero-left__content capsuls">
              <div class="">вида капсул</div>

                <span>
                  <div class="tooltip">
                    <button class="tooltip__marker">
                      <img  class="capsuls__first" src="./img/untitled_8.png.png" alt="капсула">
                    </button>
                  </div>
                  <div class="tooltip__content">
                    <b>Содержит ОМЕГА-3:</b>
                    <ul>
                      <li>Полиненасыщенные жирные кислоты</li>
                      <li>Докозагексаеновая кислота DHA</li>
                      <li>Эйкозапентаеновая кислота EPA</li>
                    </ul>
                  </div>
                </span>
                <span>
                  <div class="tooltip">
                    <button class="tooltip__marker">
                      <img class="capsuls__second" src="./img/untitled_12.png.png" alt="капсула">
                    </button>
                  </div>
                  <div class="tooltip__content">
                      <b>КАПСУЛА Б</b>
                      <p>Содержит витамины и минералы:</p>
                      <ul>
                        <li>Лютеин</li>
                        <li>Витамин А </li>
                        <li>Зеаксантин</li>
                        <li>Витамин D3</li>
                        <li>Бета-каротин</li>
                        <li>Цинк</li>
                        <li>Экстракт виноградных косточкек</li>
                        <li>Витамин Е</li>
                        <li>Экстракт черники</li>
                      </ul>
                  </div>
                </span>
            </div>
          </li>
          <li class="hero-left__item">
            <span class="icon">
              <svg width="36" height="54" viewBox="0 0 36 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1_87)">
                <path d="M34.6861 21.1714H21.304L26.6107 0.830627L0.769409 32.1724H14.1515L8.8448 52.5132L34.6861 21.1714Z" fill="#FF1414"/>
                </g>
                <defs>
                <clipPath id="clip0_1_87">
                <rect width="35.9932" height="53.3438" fill="white" transform="translate(0.00341797)"/>
                </clipPath>
                </defs>
              </svg>
            </span>
            <div class="hero-left__content">
              Усиленная формула
            </div>
          </li>
        </ul>
        <img src="./img/scroll_down_3.svg.png" alt="" class="hero-left__img">
      </div>
      <div class="hero-right">
        <img class="hero-right__content" src="./img/__1_small.png.png">
        <img class="hero-right__caps"  src="./img/round_4-8.png.png">
        <img src="./img/atom.png"  class="hero-right__decor rotate">
        <img src="./img/atom2.png"  class="hero-right__decor reverse-rotate">
        <img src="./img/shine.png"  class="hero-right__decor shine">
      </div>
    </div>
    <button class="hero-btn">Купить</button>
    <img class="hero__arrow" src="./img/arrow.png" alt="Прокрутите вниз">
    <div class="hero__menu menu">
      <img src="./img/omevit2x.png" alt="Логотип омевит" class="menu__logo">
      <nav class="menu__nav">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#testimony" class="menu__link">Показания к применению</a>
          </li>
          <li class="menu__item">
            <a href="#feedback" class="menu__link">Отзывы</a>
          </li>
          <li class="menu__item">
            <a href="#questions" class="menu__link">Задать вопрос</a>
          </li>
        </ul>
      </nav>
      <button class="menu__btn">
        Купить
      </button>
    </div>
  </div>
</section>
