<section class="partners">
  <h2 class="section-title partners__title">Где купить <span>ОмеВит</span>:</h2>
  <ul class="partners-list">
    <li class="partners-item">
      <a href="#" class="partners-item__link">
        <img
          src="./img/Ozon.png"
          alt="логотип компании"
          class="partners-item__img"
        />
      </a>
    </li>
    <li class="partners-item">
      <a href="#" class="partners-item__link">
        <img
          src="./img/wb.png"
          alt="логотип компании"
          class="partners-item__img"
        />
      </a>
    </li>
    <li class="partners-item">
      <a href="#" class="partners-item__link">
        <img
          src="./img/yam.png"
          alt="логотип компании"
          class="partners-item__img"
        />
      </a>
    </li>
    <li class="partners-item">
      <a href="#" class="partners-item__link">
        <img
          src="./img/apt.png"
          alt="логотип компании"
          class="partners-item__img"
        />
      </a>
    </li>
    <li class="partners-item">
      <a href="#" class="partners-item__link">
        <img
          src="./img/zdrav.png"
          alt="логотип компании"
          class="partners-item__img"
        />
      </a>
    </li>
    <li class="partners-item">
      <a href="#" class="partners-item__link">
        <img
          src="./img/apt2.png"
          alt="логотип компании"
          class="partners-item__img"
        />
      </a>
    </li>
    <li class="partners-item">
      <a href="#" class="partners-item__link">
        <img
          src="./img/tuta.png"
          alt="логотип компании"
          class="partners-item__img"
        />
      </a>
    </li>
  </ul>
</section>
