<section class="testimony">
  <div class="container">
    <h2 class="section-title testimony__title">
      Показания к применению
      <span>ОмеВит</span>:
    </h2>
    <div class="testimony-top">
      <ul class="testimony-list">
        <li class="testimony-list__item">
          <div class="testimony-list__icon">
            <img src="./img/sphere.png" alt="">
          </div>
          <div class="testimony-list__card testimony-card">
            <h4 class="testimony-card__title">Дефицит витаминов</h4>
            <p class="testimony-card__descr">
              Недостаточное поступление в организм с пищей витаминов и веществ, полезных для зрения
            </p>
          </div>
        </li>
        <li class="testimony-list__item">
          <div class="testimony-list__icon">
            <img src="./img/sphere.png" alt="">
          </div>
          <div class="testimony-list__card testimony-card">
            <h4 class="testimony-card__title">Снижение зрения</h4>
            <p class="testimony-card__descr">
              Усталость глаз. Активная нагрузка, связанная с длительным чтением, работой за компьютером
            </p>
          </div>
        </li>
        <li class="testimony-list__item">
          <div class="testimony-list__icon">
            <img src="./img/sphere.png" alt="">
          </div>
          <div class="testimony-list__card testimony-card">
            <h4 class="testimony-card__title">Пожилой возраст</h4>
            <p class="testimony-card__descr">
              Профилактика возрастных изменений для пожилых пациентов
            </p>
          </div>
        </li>
        <li class="testimony-list__item">
          <div class="testimony-list__icon">
            <img src="./img/sphere.png" alt="">
          </div>
          <div class="testimony-list__card testimony-card">
            <h4 class="testimony-card__title">Плохая экология</h4>
            <p class="testimony-card__descr">
              Работа или проживание в неблагоприятных экологических условиях
            </p>
          </div>
        </li>
        <li class="testimony-list__item">
          <div class="testimony-list__icon">
            <img src="./img/sphere.png" alt="">
          </div>
          <div class="testimony-list__card testimony-card">
            <h4 class="testimony-card__title">Особенности питания</h4>
            <p class="testimony-card__descr">
              Неполноценное питание или длительная диета
            </p>
          </div>
        </li>
        <li class="testimony-list__item">
          <div class="testimony-list__icon">
            <img src="./img/sphere.png" alt="">
          </div>
          <div class="testimony-list__card testimony-card">
            <h4 class="testimony-card__title">Избыток солнца</h4>
            <p class="testimony-card__descr">
              Долгое пребывание на солнечном свете
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="testimony-bottom">
      <img src="./img/stock-photo-skincare.png" alt="Девочка улыбается">
      <div class="testimony-bottom__content">
        <h3 class="testimony-bottom__title">
          Польза ОмеВит<br>
          для вашего организма
        </h3>
        <ul class="testimony-bottom__list">
          <li class="testimony-bottom__item">
            <p class="testimony-bottom__text">Повышение остроты зрения</p>
          </li>
          <li class="testimony-bottom__item">
            <p class="testimony-bottom__text">Снижение усталости глаз</p>
          </li>
          <li class="testimony-bottom__item">
            <p class="testimony-bottom__text">Снижение риска осложнений<br> миопии (близорукость)</p>
          </li>
          <li class="testimony-bottom__item">
            <p class="testimony-bottom__text">Улучшение функционального<br> состояния глаз</p>
          </li>
          <li class="testimony-bottom__item">
            <p class="testimony-bottom__text">Повышение и укрепление<br> иммунитета</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
