@import 'mixin.scss';
@import 'variables.scss';

.header {
  padding-top: 30px;
  position: relative;
  z-index: 1;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__list {
      @include clearListStyles;
      display: flex;
      align-items: center;
    }

    &__item {
      font-weight: 600;
      font-size: 20px;
      line-height: 31px;
      color: $mainColor;
      border-bottom: 1px solid $mainColor;
    }

    &__item:not(:last-child) {
      margin-right: 15px;
    }
  }

  .header-m {
    margin-bottom: 22px;
    padding: 14px 20px;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.62);
    backdrop-filter: blur(5.5px);
    border-radius: 0px 0px 10px 10px;

    &__menu {
      @include clearBtnStyles;
    }

    &__btn {
      @include clearBtnStyles;
      padding: 8px 12px;
      background: #FFEA00;
      box-shadow: 0px 0px 12.8983px 0.67886px $whiteColor;
      border-radius: 11.026px;
      font-weight: 700;
      font-size: 13.2782px;
      line-height: 131.9%;
      text-transform: uppercase;
    }
  }
}
