@import "variables.scss";
@import "mixin.scss";

.hero {
  width: 100%;
  position: relative;
  padding-top: 35px;

  .hero-container {
    margin-bottom: 40px;
    display: flex;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    max-width: 502px;
    z-index: 1;

    &__title {
      margin-bottom: 12px;
      font-family: "Circe";
      font-weight: 400;
      font-size: 62px;
      line-height: 68px;
      color: $whiteColor;

      span {
        font-weight: 700;
        font-size: 85px;
        color: #ff1414;
        text-shadow: 0px 0px 10px #f4d7ff;
      }
    }

    &__mobile {
      display: none;
    }

    &__list {
      @include clearListStyles;
      margin-bottom: 12px;
    }

    &__item {
      display: flex;
      align-items: center;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 69px;
        font-weight: 800;
        font-size: 58px;
        line-height: 90px;
        background-color: #d1f3ff;
        box-shadow: 0px 1px 15px 7px rgba(163, 163, 163, 0.3);
        border-radius: 24px;
        color: #ff1414;
        z-index: 2;
      }
    }

    &__item:not(:last-child) {
      margin-bottom: 22px;
    }

    &__content {
      padding: 22px;
      display: flex;
      align-items: center;
      font-family: "TildaSansVF";
      font-weight: 600;
      font-size: 30px;
      line-height: 24px;
      color: $mainColor;
      background-color: #d1f3ff;
      border-radius: 24px;
      z-index: 1;

      div {
        margin-right: 10px;
      }

      span {
        margin-right: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 57px;
        height: 57px;
        background: $whiteColor;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        border-radius: 100px;
      }
    }

    .capsuls {
      padding: 6px 20px;
      padding-right: 75px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        right: 10px;
        width: 67px;
        height: 37px;
        background-image: url(../img/cur_capsule.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }

      &__first {
        transform: translate(-33px, 19px);
      }

      &__second {
        transform: translate(-45px, 14px);
      }
    }
  }

  .hero-right {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__decor {
      position: absolute;
      z-index: -1;
    }

    .shine {
      z-index: -2;
    }

    .reverse-rotate {
      animation: reverse-rotate 40s linear 1s infinite;
    }

    &__caps {
      position: absolute;
      z-index: -1;
      animation: rotate 40s linear 1s infinite;
    }

    &::before {
      content: "";
      position: absolute;
      top: -170px;
      width: 925px;
      height: 417px;
      background: linear-gradient(
        180deg,
        #d2a0e6 42.62%,
        rgba(210, 160, 230, 0) 100%
      );
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -235px;
      width: 925px;
      height: 417px;
      background: linear-gradient(
        180deg,
        #d2a0e6 42.62%,
        rgba(210, 160, 230, 0) 100%
      );
      transform: rotate(-180deg);
    }

    &__content {
      animation: bounce 4s linear 1s infinite;

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(../img/shine.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    }
  }

  .hero-btn {
    @include clearBtnStyles;

    margin: 0 auto;
    padding: 23px 115px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffea00;
    border-radius: 40px;
    font-family: "TildaSansVF";
    font-weight: 600;
    font-size: 40px;
    line-height: 62px;
    color: $mainColor;
    z-index: 2;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: $whiteColor;
    }
  }

  &__arrow {
    margin: 0 auto;
    display: block;
    transform: translateY(-10px);
    animation: arrow 1s ease infinite;
  }

  .menu {
    margin: 0 auto;
    padding: 7px 7px 7px 19px;
    max-width: 716px;
    display: none;
    justify-content: space-between;
    align-items: center;
    font-family: "TildaSansVF";
    background: rgba($color: $whiteColor, $alpha: 0.6);
    border-radius: 30px;
    animation: menu-up 0.5s linear 1;

    &.fixed {
      width: 100%;
      display: flex;
      position: fixed;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 999;
      backdrop-filter: blur(10px);
      animation: menu-down 0.5s linear 1;
    }

    &__list {
      @include clearListStyles;

      display: flex;
      align-items: center;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }

    &__btn {
      @include clearBtnStyles;
      padding: 8px 33px;

      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: $whiteColor;
      background-color: #ed552c;
      border-radius: 40px;
      transition: all 0.2s linear;

      &:hover {
        background-color: $mainColor;
      }
    }

    &__link {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -8px;
        width: 100%;
        height: 1px;
        background-color: $mainColor;
        opacity: 0;
        transform: translateY(-8px);
        transition: all 0.2s linear;
      }

      &:hover {
        &::before {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
