@import "_mixin.scss";
@import "_variables.scss";

@media (max-width: 1750px) {
  .confidence {
    width: 90%;
  }
  .footer {
    &::before {
      width: 400px;
      height: 250px;
      bottom: -96px;
    }

    &::after {
      width: 400px;
      height: 250px;
      bottom: -106px;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1080px;
  }

  .header {
    padding-top: 50px;
  }

  .hero {
    .hero-right {
      &__img {
        width: 90%;
        height: 90%;
        top: 0;
      }

      &__content {
        width: 80%;
        height: 80%;
      }
    }
  }

  .about {
    padding: 20px;

    &__title {
      margin-bottom: 30px;
    }

    .big-pill {
      height: 60%;
    }

    .about-top {
      .swiper-wrapper {
        justify-content: normal;
        gap: 0;
      }

      .press {
        display: none;
      }

      &__card {
        width: 60%;
      }
    }

    .about-bottom {
      .bilberry {
        display: none;
      }
    }
  }

  .testimony {
    .testimony-list {
      &__item {
        max-width: 450px;
      }
    }

    .testimony-bottom {
      padding: 30px 30px 20px 30px;
    }
  }

  .confidence {
    width: 90%;

    .confidence-card {
      padding: 100px 70px;
      background-size: 430px;

      &:nth-child(odd) {
        padding-left: 45%;
      }

      &:nth-child(3) {
        background-image: url(../img/ggwp.png);
        background-size: contain;
      }
    }
  }

  .partners {
    .partners-list {
      .partners-item {
        margin-bottom: 30px;

        &:not(:nth-child(3n)) {
          margin-right: 0;
        }

        &:not(:nth-child(2n)) {
          margin-right: 30px;
        }
      }
    }
  }

  .feedback {
    .feedback-list {
      flex-direction: column;
      align-items: center;

      .feedback-item {
        &:nth-child(odd) {
          margin-right: 0;
        }
      }
    }
  }

  .modal {
    padding: 70px 0;
    height: 100%;

    .capsule-card {
      height: max-content;
      max-width: 990px;

      &__top {
        flex-direction: column;
      }

      &__title {
        margin-bottom: 20px;
      }

      .capsule-name {
        &__text {
          margin-right: 110px;
        }
      }
    }

    .capsule-b {
      .capsule-content {
        &__list {
          justify-content: center;
        }

        &__item {
          margin-bottom: 30px;

          &:not(:nth-child(4n)) {
            margin-right: 0;
          }

          &:not(:nth-child(3n)) {
            margin-right: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 405px;
    margin: 0;
  }

  .menu {
    display: none;
  }

  .header {
    padding-top: 0;
    .header-container {
      &__logo {
        padding-left: 19px;
        width: 56px;
      }

      &__nav {
        display: none;
      }
    }

    .header-m {
      display: flex;
    }
  }

  .hero {
    .menu.fixed {
      display: none;
    }

    .hero-container {
      justify-content: center;
    }

    .hero-btn {
      padding: 4px 105px;
      font-size: 34px;
      line-height: 62px;
    }

    .hero-left {
      align-items: center;

      &__item {
        &:nth-child(3) span svg {
          width: 29px;
          height: 43px;
        }

        & .icon {
          font-size: 46.6709px;
          line-height: 72px;
        }
      }

      .mobile-dec {
        position: absolute;
        top: 18%;
        z-index: -1;
      }

      &__title {
        margin-bottom: 112px;
        max-width: 342px;
        font-weight: 600;
        font-size: 38px;
        line-height: 44px;

        & span {
          font-size: 59.8894px;
          line-height: 55px;
        }
      }

      &__mobile {
        display: flex;
        justify-content: center;
      }

      &__content {
        max-width: 350px;
        width: 100%;
        font-size: 24.1401px;
        line-height: 19px;

        & span {
          background-color: transparent;
        }
      }

      &__img {
        display: none;
      }

      .capsuls {
        padding-right: 26px;

        &::before {
          display: none;
        }
      }
    }

    .hero-right {
      display: none;
    }

    &__arrow {
      display: none;
    }
  }

  .about {
    .about-top {
      width: 80vw;

      .about-card {
        max-width: 330px;
      }
    }
    &__title {
      margin-bottom: 30px;
      position: relative;
      font-size: 36px;
      line-height: 42px;
    }

    .swipe {
      display: block;
      margin-bottom: 30px;
    }

    .big-pill {
      height: 50%;

      bottom: 150px;
      left: 180px;
    }

    .tooltip-wrapper {
      position: absolute;
      top: 0;
      right: 0;

      & svg {
        width: 68px;
        height: 68px;
        border-radius: 100%;
        box-shadow: 0px -1px 12px 3px rgba(0, 0, 0, 0.25);
      }

      .tooltip {
        &__content {
          left: -450%;
          top: 0;
        }
      }
    }

    .about-top {
      overflow: visible;
      gap: 10px;

      #illustration {
        display: none;
      }

      &::after {
        left: 100%;
        z-index: 1;
      }

      .about-card {
        font-family: "TildaSansVF";

        &__descr {
          & div {
            font-size: 18.6548px;
            line-height: 22px;
          }

          & span {
            font-size: 14.7684px;
            line-height: 16px;
          }
        }

        &__title {
          margin-bottom: 32px;
          font-size: 50px;
          line-height: 59px;
        }

        &__item {
          font-size: 22px;
          line-height: 26px;
        }

        &__btn {
          padding: 13px 66px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .about-bottom {
      max-width: 100%;
      flex-direction: column-reverse;

      .bottom-content {
        padding: 34px 0 16px 15px;

        &__title {
          font-weight: 700;
          font-size: 62px;
          line-height: 70px;
          color: #000046;
        }
      }
    }
  }

  .testimony {
    .testimony-top {
      margin-bottom: 30px;
    }

    &__title {
      max-width: 306px;
      font-size: 36px;
      line-height: 42px;
    }

    .testimony-list {
      &__item {
        flex-direction: column;
        max-width: 336px;

        &:nth-child(2) span {
          top: 37px;
        }

        &:nth-child(3) span {
          top: 39px;
        }
      }

      &__icon {
        padding-top: 23px;
        padding-left: 26px;
        padding-bottom: 0;
        border-bottom-left-radius: 0;

        & span {
          top: 30px;
          left: 57px;
        }
      }

      .testimony-card {
        padding: 0 33px 54px 26px;
        margin-top: -1px;
        margin-left: 1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;

        &__title {
          font-size: 32px;
          line-height: 40px;
        }

        &__descr {
          font-size: 26px;
          line-height: 32px;
        }
      }
    }

    .testimony-bottom {
      display: none;
    }

    .testimony-mobile {
      display: block;
    }
  }

  .result {
    margin-bottom: 60px;
    padding: 0;

    &__title {
      margin-bottom: 28px;
      max-width: 292px;
      font-size: 36px;
      line-height: 42px;
    }

    .result-container {
      flex-direction: column;

      .result-list {
        max-width: 306px;

        &__item {
          padding: 89px 25px 65px;
        }

        &__title {
          font-size: 32px;
          line-height: 111.5%;
        }

        &__descr {
          font-family: "TildaSansVF";
          font-size: 18px;
          line-height: 26px;
        }

        &__icon {
          width: 43px;
          height: 43px;
          top: 32px;
          left: 26px;

          & svg {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }

  .confidence {
    &__title {
      font-size: 36px;
      line-height: 42px;
    }

    .confidence-list {
      flex-direction: column;

      .confidence-card {
        padding: 50px 38px 0 26px;

        &:nth-child(odd) {
          padding-left: 26px;
        }

        &:nth-child(2) {
          background-image: url(../img/mobile/conf2.png);
          background-repeat: no-repeat;
          background-position: bottom left;
          background-size: 300px;
        }

        &:nth-child(3) {
          min-height: 729px;
          background-position: bottom center;
        }

        &__title {
          font-weight: 700;
          font-size: 40px;
          line-height: 40px;
        }

        &__link {
          display: none;
        }

        &__descr {
          margin-bottom: 20px;
        }
      }

      &__item {
        justify-content: start;
        margin: 0;
        margin-bottom: 34px;
        min-height: 528px;
      }
    }
  }

  .partners {
    &__title {
      font-size: 36px;
      line-height: 42px;

      & span {
        display: none;
      }
    }

    .partners-list {
      flex-direction: column;
      gap: 0;
    }
  }

  .feedback {
    padding-bottom: 0;

    &__title {
      font-size: 36px;
      line-height: 42px;

      & span {
        display: none;
      }
    }

    .feedback-item {
      width: 100% !important;

      &__comment {
        font-size: 18px;
        line-height: 37px;
      }
    }
  }

  .contacts {
    padding: 0;

    .grape {
      top: 30px !important;
    }

    .limon {
      height: 90px !important;
      top: 150px !important;
      left: 30px !important;
    }

    .bilberry {
      top: 150px !important;
      right: 50px !important;
    }

    .contacts-card {
      padding: 250px 21px 53px;
      max-width: 336px;
      font-family: "TildaSansVF";
      text-align: left;

      &__title {
        font-size: 50.8631px;
        line-height: 61px;
      }

      &__btn {
        margin: 0 auto;
        display: block;
      }
    }
  }

  .questions {
    &__title {
      font-size: 34px;
      line-height: 101.2%;
    }

    &__subtitle {
      max-width: 245px;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
    }

    &__tel {
      display: none;
    }

    &__btn {
      display: none;
    }

    .tel-mobile {
      @include clearBtnStyles;
      margin-bottom: 6px;
      display: flex;
      align-items: center;
      padding: 23px 52px;
      font-size: 24px;
      line-height: 118.2%;
      background-color: #ed552c;
      border-radius: 80px;

      & svg {
        margin-right: 12px;
      }
    }

    .mobile-btn {
      @include clearBtnStyles;
      margin-bottom: 22px;
      display: flex;
      align-items: center;
      padding: 23px 52px;
      font-size: 24px;
      line-height: 118.2%;
      background-color: #ffea7f;
      border-radius: 56px;

      & svg {
        margin-right: 12px;
      }
    }

    &__list {
      margin-bottom: 46px;
      padding: 12px 19px;
      max-width: 336px;
    }

    &__copyright {
      margin-bottom: 22px;
      max-width: 343px;
      font-size: 18px;
      line-height: 143%;
      text-align: center;
    }
  }

  .footer {
    .images {
      position: absolute;
      bottom: -170px;
    }

    img:nth-child(1) {
      position: absolute;
    }

    img:nth-child(2) {
      display: none;
    }

    .footer-card {
      display: none;
    }

    .footer-mobile {
      margin-bottom: 54px;
      padding: 38px 26px;
      max-width: 337px;
      display: flex;
      flex-direction: column;
      background: $whiteColor;
      box-shadow: 0px 4px 31px -1px rgba(0, 0, 0, 0.14);
      border-radius: 24px;

      &__logo {
        margin-bottom: 33px;
      }

      &__text {
        margin-bottom: 33px;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;

        & span {
          margin-bottom: 10px;
          font-size: 26px;
          line-height: 38px;
        }
      }

      &__address {
        margin-bottom: 20px;
        font-style: normal;
        font-size: 16px;
        line-height: 149%;
        text-transform: uppercase;
      }

      &__mail {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 143%;
        text-transform: uppercase;

        a {
          border-bottom: 1px solid #000;
        }
      }

      &__text {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 26px;

        & span {
          display: block;
          font-size: 26px;
          line-height: 38px;
        }
      }
    }

    &__text {
      margin-bottom: 47px;
      font-weight: 400;
      font-size: 18px;
      line-height: 143%;
    }
  }
}
