@import '_mixin.scss';
@import '_variables.scss';

@media (max-width: 1024px) {
  .container {
    max-width: 992px;
  }

  .header {

    .header-container {
      padding-top: 25px;

      &__nav {
        margin-right: 131px;
      }

      &__logo svg {
        width: 166px;
        height: 27px;
      }
    }

    .nav-list {
      &__item:not(:last-child) {
        margin-right: 33px;
      }
    }

    .social {
      display: none;
    }

    .search.header-container__btn {
      display: block;
    }
  }

  .hero {
    .hero-container {
      padding-top: 34px;
      grid-template-rows: minmax(10px, 50px) minmax(186px, 332px) minmax(105px, 186px);
      gap: 28px 30px;

      &__content {
        padding: 425px 9px 30px 30px;
        background-image: url(../img/hero/1024/camera.jpg);
      }

      .hero-content {
        &__author {
          margin-bottom: 11px;
        }

        &__time {
          font-size: 34px;
          line-height: 100%;
        }

        &__btn {
          padding: 15.5px 18px;
        }
      }
    }
  }

  .about {
    .about-container {
      padding-bottom: 61px;

      &__title {
        margin-bottom: 5px;
      }

      &__content {
        gap: 0 30px;
      }
    }
  }

  .projects {
    .projects-container {
      &__grid {
        grid-template-rows: minmax(200px, 1fr) 1fr minmax(200px, 307px);
        grid-template-columns: repeat(5, 1fr);
        gap: 24px 30px;
      }

      .grid-item1 {
        grid-template-columns: minmax(100px, 218px) minmax(100px, 218px) minmax(200px, 466px);
        grid-template-rows: 285px;
        grid-column: 1 / 6;

      }

      .grid-item4 {
        grid-column: 1 / 4;
      }

      .grid-item5 {
        order: 4;
        grid-column: 3 / 6;
      }

      .grid-item6 {
        grid-column: 4 / 6;
      }

      .grid-item7 {
        grid-column: 1 / 3;
      }
    }
  }

  .contacts {
    .contacts-container {
      .contacts-container__wrapper {
        grid-template-columns: minmax(320px, 590px) minmax(250px, 342px);


        .map-mask {
          max-width: 100%;
          max-height: 157px;
          padding: 25px 0 21px 30px;
          bottom: 0;
        }
      }
    }
  }

  .footer {
    .footer-container {
      &__logo {
        margin-right: 109px;
      }
    }
  }
}

@media (max-width: 768px) {

  .container {
    max-width: 745px;
  }

  .header {
    position: relative;

    .header-container__nav {
      display: none;
    }

    .menu-btn {
      display: none;
    }

    .header-container__bottom {
      display: block;
      padding-top: 11px;
      min-height: 45px;
      position: absolute;
      width: 100%;
      top: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #4a4a4a;
      z-index: 100;

      .burger {
        display: none;
      }

      .header-container__nav {
        display: block;
        margin: 0;

        .nav-list {
          justify-content: space-between;
        }
      }
    }

    .nav-list {
      justify-content: space-around;
    }


  }

  .header.fixed .header-container__bottom {
    display: none;
  }

  .hero {
    .hero-container {
      padding-top: 81px;
      grid-template-rows: minmax(10px, 46px) minmax(186px, 228px) minmax(100px, 1fr);
      gap: 22px $gutterGap;

      &__content {
        padding: 223px 74px 30px 30px;
        background-image: url(../img/hero/768/camera.jpg);
      }

      &__title {
        font-size: 22px;
      }

      .notify-hashtag {
        padding: 7px 13px;
      }
    }
  }

  .about {
    .about-content {
      gap: 14px 30px;
    }
  }

  .projects {
    .projects-container {

      .grid__content {
        .grid__btn {
          padding: 15px 22px;
          font-family: 'Roboto';
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
        }
      }

      &__grid {
        grid-template-columns: repeat(2, minmax(200px, 342px));
        grid-template-rows: minmax(200px, 300px) minmax(200px, 300px) minmax(200px, 307px) minmax(200px, 300px);
        gap: 27px 30px;
        // grid-template-areas: 
        //   "item1 item1"
        //   "item2 item2"
        //   "item3 item4"
        //   "item5 item5"
        // ;
      }

      .grid {
        .grid-item4 {
          padding-top: 34px;

          .grid__descr {
            margin-bottom: 46px;
          }
        }
      }

      .grid-item1 {
        grid-template-columns: repeat(3, minmax(100px, 218px));
        // grid-area: item1;
        grid-column: 1 / 3;
      }

      .grid-item4 {
        // grid-area: item2;
        grid-column: 1 / 3;
      }

      .grid-item6 {
        // grid-area: item3;
        grid-column: 1 / 2;
      }

      .grid-item7 {
        // grid-area: item4;
        grid-column: 2 / 3;
      }

      .grid-item5 {
        // grid-area: item5;
        grid-column: 1 / 3;
        padding-top: 32px;

        .grid__descr {
          margin-bottom: 93px;
        }
      }

      .grid__descr {
        margin-bottom: 9px;
      }

      .grid-item6,
      .grid-item7 {
        .grid__descr {
          margin-bottom: 18px;
        }
      }
    }
  }

  .contacts {
    .contacts-container {
      padding-bottom: 62px;

      .contacts-container__wrapper {
        grid-template-columns: minmax(200px, 714px);
        grid-template-rows: minmax(200px, 460px) minmax(200px, 445px);
        gap: $gutterGap;

        .map-mask {
          padding: 25px 0 24px 30px;

          &__address {
            max-width: 436px;
          }
        }

        .contacts-form {
          max-width: 466px;
        }
      }
    }
  }

  .footer {
    .footer-container {
      justify-content: space-between;

      &__link {
        margin-bottom: 7px;
      }

      &__logo {

        svg {
          width: 166px;
          height: 27px;
        }
      }

      &__text {
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 570px;
  }

  .header {
    .header-container {
      &__list {
        display: none;

        .header-form {
          &__input {
            width: 270px;
          }
        }
      }

      &__bottom {

        .burger {
          display: block;
        }

        .header-container__nav {
          width: 100vw;
          height: 100vh;
          padding: 13px 0 0 30px;
          transform: translateX(-100%);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-top: 1px solid #808080;
          background-color: $mainColor;
          transition: transform .4s linear;

          .menu-btn {
            @include clearBtnStyles();
            display: block;
            margin-bottom: 16px;
          }

          .nav-list {
            display: flex;
            flex-direction: column;

            &__item {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }

  .hero {
    .hero-container {
      grid-template-columns: repeat(2, minmax(100px, 250px));
      grid-template-rows: minmax(200px, 452px) minmax(10px, 42px) minmax(100px, 344px) minmax(70px, 208px);
      grid-template-areas:
        "camera camera"
        "text text"
        "img1 img1"
        "img2 img3";

      &__content {
        grid-area: camera;
      }

      &__title {
        grid-area: text;
      }

      &__img-1 {
        grid-area: img1;
      }

      &__img-2 {
        grid-area: img2;
      }

      &__img-3 {
        grid-area: img3;
      }
    }
  }

  .about {
    .about-content {
      grid-template-columns: minmax(200px, 1fr);
      grid-template-areas:
        "text"
        "img"
        "form"
      ;

      &__descr {
        grid-area: text;
      }

      &__img {
        grid-area: img;
      }

      &__form {
        grid-area: form;
      }
    }
  }

  .projects {
    .projects-container {
      &__grid {
        grid-template-columns: minmax(100px, 546px);
        grid-template-rows: repeat(5, minmax(100px, 1fr));
        grid-template-areas:
          "item1"
          "item2"
          "item3"
          "item4"
          "item5"
        ;

        .grid-item1 {
          grid-area: item1;
          grid-template-columns: repeat(3, minmax(100px, 217px));
        }

        .grid-item4 {
          grid-area: item2;
        }

        .grid-item5 {
          grid-area: item3;
        }

        .grid-item6 {
          grid-area: item4;
        }

        .grid-item7 {
          grid-area: item5;
        }
      }
    }
  }

  .footer {
    .footer-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__logo {
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 375px) {
  .header {

    .header-container {

      .header-form {
        right: 15px;

        &::before {
          right: -15px;
        }
        &__input {
          width: 248px;
        }
      }

      &__logo svg {
        max-width: 150px;
      }

      &__bottom {

        .header-container__nav {
          padding-left: 15px;
        }
      }
    }
  }

  .hero {
    .hero-container {
      grid-template-rows: minmax(200px, 452px) minmax(10px, 42px) minmax(88px, 230px) minmax(70px, 135px);

      &__title {
        font-size: 18px;
        line-height: 104%;
      }

      .hero-content {

        &__author {
          font-size: 14px;
          line-height: 16px;
        }

        &__time {
          font-size: 24px;
          line-height: 110%;
        }
      }
    }
  }

  .projects {
    .projects-container {

      .grid {
        grid-template-columns: minmax(200px, 1fr);
        grid-template-rows: minmax(200px, 1fr) minmax(200px, 422px) minmax(200px, 310px) minmax(200px, 310px) minmax(200px, 422px);

        .grid-item1 {
          grid-template-columns: minmax(200px, 345px);
          grid-template-rows: repeat(3, minmax(200px, 1fr));
        }

        .grid-item4 {
          padding-top: 150px;
          background-image: url(../img/projects/320/img4.jpg);
        }

        .grid-item5 {
          padding-top: 150px;
          grid-area: item5;
          background-image: url(../img/projects/320/img7.png);
        }

        .grid-item6 {
          grid-area: item3;
        }

        .grid-item7 {
          grid-area: item4;
        }
      }
    }
  }

  .contacts {
    .contacts-container {
      position: relative;
      
      .contacts-container__wrapper {

        .contacts-container__map {
          position: absolute;
          left: 0;
          right: 0;
        }
        .map-mask {
          &__title {
            font-size: 18px;
            line-height: 22px;
          }

          &__address {
            max-width: 267px;
            margin-bottom: 11px;
            font-size: 14px;
            line-height: 18px;
          }
        }

        .contacts-form {
          padding-top: 470px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 309px;
  }

  .header {
    .header-container {
      padding-top: 22px;
      padding-bottom: 18px;

      .header-form {
        &__input {
          width: 248px;
          font-size: 14px;
          line-height: 18px;
        }
      }

      &__logo svg {
        max-width: 112px;
      }

      &__btn svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .hero {
    .hero-container {
      padding-top: 75px;
      padding-bottom: 52px;
      grid-template-rows: minmax(200px, 422px) minmax(10px, 38px) minmax(88px, 185px) minmax(70px, 105px);
      gap: 26px 30px;

      &__content {
        padding: 231px 0 31px 29px;
      }

      .hero-content {

        &__time {
          max-width: 169px;
          margin-bottom: 14px;
        }

        &__btn {
          padding: 12px 20px;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }

  .about {
    .about-container {
      padding-top: 32px;
      padding-bottom: 60px;

      &__title {
        font-size: 18px;
        line-height: 23px;
      }

      .about-content {
        gap: 23px 30px;

        &__descr {
          font-size: 14px;
          line-height: 25px;
        }

        .form {
          &__title {
            font-size: 18px;
            line-height: 22px;
          }

          &__input {
            padding: 10px 0 12px 21px;

            &::placeholder {
              font-size: 14px;
              line-height: 16px;
            }
          }

          &__btn {
            padding: 12px 22px;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }

  .projects {
    .projects-container {
      padding-top: 49px;
      padding-bottom: 26px;

      .grid {
        .grid-item1 {
          grid-template-rows: repeat(3, minmax(200px, 278px));
          gap: 24px;
        }

        .grid-item4 {
          padding-top: 193px;

          .grid__content {
            .grid__content-date {
              display: inline-block;
              margin-bottom: 7px;
            }

            .grid__title {
              margin-bottom: 9px;
            }

            .grid__descr {
              margin-bottom: 16px;
              font-size: 14px;
              line-height: 18px;
            }

            .grid__btn {
              padding: 11px 20px;
              font-size: 14px;
              line-height: 16px;
            }
          }
        }

        .grid-item5 {
          padding-top: 197px;

          .grid__content {
            .grid__content-date {
              display: inline-block;
              margin-bottom: 7px;
            }

            .grid__title {
              margin-bottom: 6px;
            }

            .grid__descr {
              margin-bottom: 29px;
              max-width: 218px;
              font-size: 14px;
              line-height: 18px;
            }

            .grid__btn {
              padding: 11px 20px;
              font-size: 14px;
              line-height: 16px;
            }
          }
        }
      }
    }

    &__title {
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 23px;
    }

    img {
      margin-bottom: 13px;
    }
  }

  .contacts {
    .contacts-container {
      padding-bottom: 50px;

      .contacts-container__wrapper {
        .contacts-form {
          &__title {
            font-size: 18px;
            line-height: 22px;
          }

          &__descr {
            font-size: 14px;
            line-height: 18px;
          }

          &__btn {
            padding: 12px 20px;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }

    &__title {
      font-size: 18px;
      line-height: 23px;
    }
  }

  .footer {
    position: relative;

    .footer-container {
      padding-top: 31px;
      padding-bottom: 94px;
      
      &__logo {
        width: 100%;
        margin: 0;
        padding: 14px 0;
        position: absolute;
        bottom: 0;
        order: 2;
        background-color: #4a4a4a;
      }
    }
  }
}
