@import "_variables.scss";
@import "_mixin.scss";

.result {
  padding: 90px 0;

  &__title {
    max-width: 415px;
  }

  .result-container {
    display: flex;
    justify-content: space-between;
  }

  .result-list {
    @include clearListStyles;

    &__item {
      padding: 32px 0 52px 35px;
      max-width: 635px;
      position: relative;
      background-color: $whiteColor;
      border-radius: 20px;

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    &__icon {
      width: 63px;
      height: 63px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 14px;
      right: 12px;
      background-color: #fff9d9;
      border-radius: 100%;
    }

    &__title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 36px;
      line-height: 41px;
      color: #fd350a;
    }

    &__descr {
      font-weight: 500;
      font-size: 22px;
      line-height: 31px;
      color: $mainColor;
    }
  }
}
