@import "variables.scss";
@import "mixin.scss";

.testimony {
  padding: 32px 0;
  margin-bottom: 24px;

  .testimony-mobile {
    display: none;

    &__title {
      margin-bottom: 31px;
      font-family: "TildaSansVF";
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      color: $whiteColor;

      & span {
        color: #000046;
      }
    }

    &__list {
      @include clearListStyles;
    }

    &__item {
      margin-bottom: 31px;
      & img {
        margin-bottom: 11px;
      }
      & p {
        color: $whiteColor;
        font-weight: 500;
        font-size: 26px;
        line-height: 131.9%;
      }
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  .testimony-top {
    margin-bottom: 89px;
  }

  .testimony-list {
    @include clearListStyles;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &__icon {
      padding: 28px 13px;
      flex-basis: content;
      width: 100%;
      position: relative;
      background-color: $whiteColor;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;

      span {
        position: absolute;
        top: 35px;
        left: 50%;
        transform: translateX(-50%);
        font-family: TildaSansVF;
        font-weight: 700;
        font-size: 39px;
        line-height: 45px;
        color: $whiteColor;
      }
    }

    &__item {
      margin-bottom: 30px;
      max-width: 557px;
      width: 100%;
      display: flex;

      &:nth-child(2) span {
        top: 42px;
      }

      &:nth-child(3) span {
        top: 42px;
        font-weight: 900;
        font-size: 29px;
        line-height: 33px;
      }
    }

    .testimony-card {
      padding: 30px 0 30px 15px;
      width: 100%;
      max-width: 467px;
      background-color: $whiteColor;
      transform: translateX(-1px);
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;

      &__title {
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 39px;
        line-height: 45px;
        color: $mainColor;
      }

      &__descr {
        font-weight: 500;
        font-size: 28px;
        line-height: 32px;
      }
    }
  }

  .testimony-bottom {
    margin: 0 auto;
    width: 80%;
    padding: 57px 31px 62px 80px;
    display: flex;
    background-color: $whiteColor;
    border-radius: 30px;

    img {
      margin-right: 60px;
    }

    &__title {
      margin-bottom: 14px;
      font-weight: 700;
      font-size: 48px;
      line-height: 50px;
      color: $mainColor;
    }

    &__list {
      @include clearListStyles;
    }

    &__item {
      padding: 21px 0;
      border-top: 1px solid #b5b5b5;
    }

    &__text {
      font-size: 32px;
      line-height: 37px;
    }
  }
}
